<div class="row">
    <div class="col-lg-12">

		<% @photos.each do |photo| %>

		        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
		            <a class="thumbnail" href="#" data-image-id="" data-photo = <%= delete_photo_path( photo ) %> data-toggle="modal" data-title="" data-image=<%= photo.url %> data-target="#image-gallery">
		                <%= image_tag photo.url %>
		            </a>
		        </div>

		<% end %>

	</div>
</div>


<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
            <div class="modal-footer">

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                </div>

                <div class="col-md-2">
                    <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                </div>
                <% if @edit %>
                <div class="col-md-2">
                	    <%= link_to "Delete", "", method: :post,  class: "btn btn-default", id: "delete-image"  %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
